.carttt{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-decoration-line: none;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.css-cartt{
    background-color: #dce0e2;
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.card-cssss{
    height: 100%;
    width: 100%;
    padding-top: 65px;
    margin: 0;
    /* border: 2px solid black; */
}
.second-pricec{
    width: 20vw;
    /* border: 1px solid black; */
    position: fixed;
    top: 0;
    right: 0;
    margin-top: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 5px;
    /* padding-top: 60px; */
    height: 40vh;
    color: black;
    background-color: white;
}
.ss{
    width: 80vw;
    min-height: 100vh;
    height: 100%;
    /* overflow-y: auto; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    /* border: 2px solid black; */
}
.cardsss{
    height:30%;
    width: 70vw;
    display: flex;
    box-shadow: 5px 2px 8px 0px lightblue;
    background-color: white;
    border-radius: 3px;
    background-color: rgb(205, 158, 214);
    margin-top: 8px;
    margin-bottom: 4px;
}
.bot-css{
        display: flex;
        background-color: rgb(205, 158, 214);
        font-weight: bold;
    }
    .midcsss{
        display: flex;
        margin: 3px 2px;
    }
    .starcss{
        width: 90%;
    }
.fav-css{
    background-color: #dce0e2;
    min-height: 100vh;
    height: 100%;
}
.card-fav{
    display: flex;
    /* justify-content: center;
    align-items: flex-start; */
    padding-left: 90px;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    list-style: none;
    padding-top: 65px;
    margin: 0;
}