.header-css{
    position:fixed;
    background-color: white;
    border-bottom: 1px solid black;
    height: 60px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    /* margin-left: 100px; */
    align-items: center;
}
.search{
    background-color: #dce0e2 !important;
    color: black !important;
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
    border: none !important;
}
.name-css{
    display: flex;
    width: 180px;
}
.help:hover{
    /* list-style-type: underline; */
    text-decoration: underline;
}
.stores:hover{
    /* list-style-type: underline; */
    text-decoration: underline;
}
.icon-img{
    height: 50px;
    width: 200px;
    /* margin-left: 420px;
    margin-right: 260px; */
}
.options-list{
    display: flex;
    align-items: center;
    width: 300px;
    height: 60px;
    /* border: 1px solid black; */
}
.in-css{
    border-bottom-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
    width: 230px !important;
    background-color: #dce0e2 !important;
}