.card-css{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    list-style: none;
    padding-top: 65px;
    margin: 0;
}
.css{
    height: 100%;
    background-color: #dce0e2;
    margin: 0;
    padding: 0;
    display: flex;
}
.side-filter{
    border: 1px solid black;
    width: 20%;
    height: 80vh;
    position: inherit;
}
.cards{
/* height:230px; */
width: 22%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
box-shadow: 5px 2px 8px 0px lightblue;
background-color: white;
border-radius: 3px;
margin:10px 10px;
box-sizing: border-box;
}
.bot-css{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: rgb(205, 158, 214);
    width: 100%;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    font-weight: bold;
}
.midcss{
    display: flex;
    /* align-items: flex-start; */
    justify-content: space-between;
    width: 90%;
}
button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.on {
  color: gold;
}
.off {
  color: #ccc;
}
.star-rating{
    background-color: transparent;
    border:none;
}
.starcss{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
}
.but{
    height: 32px;
    width: 100%;
    padding: 5px 10px;
    background-color: white;
    font-weight: bold;
    border-radius: 3px;
    font-size: 14px;
}